.shop{display: flex;
z-index: 1;}

.shop h1{user-select: none;
color: #ffff;}

.products{width: 75%;
list-style: none;
display: grid;
grid-template-rows: repeat(3, 1fr);
grid-template-columns: repeat(3, 1fr);
gap: 20px}

.products li{ 

overflow: hidden;}
