



.shop h1{
color: #080C17;user-select: none;}

.products{
 display: grid;
  width: 85%;
    background-color: azure;
list-style: none;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(6, 1fr);
}


