



.shop h1{user-select: none;
color: #080C17;}

.products{
  width: 85%;
    background-color: azure;
list-style: none;
 display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(6, 1fr);
}


