
  .ProductImageContainer {
  

    object-fit: contain;
     
  }
  

  
  .ProductActions {
    display: flex;
width: 100%;
    justify-content: flex-end;
  }


  .Card{
    position: relative;
    flex: 1;
    border: 1px solid #080C17;
    padding:7% 2%; 
    border-radius: 23px;
    overflow: hidden;
    background-color: #dbc17c !important;
  margin-bottom: 7%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Card:hover{
    transform: scale(1.1);
}
.ProductCardBody{
    display: flex;
    flex-wrap: wrap;
    padding:0% 15%;
     margin-bottom: 10px; /* Consistent spacing */
}


.imageContainer img{
max-height: 100%;
object-fit: contain;
}

.imageContainer{padding: 9px;
    background-color: #ffff;
    border-radius: 23px;
    border: 1px solid #080C17;width: 11vw;
height: 11vw;
display: flex;

}

.cardBody{
    display: flex;
    flex-direction: column;
}