@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.App {

  margin: 0;
  padding: 0;
 background-color: black;
  font-family: Poppins;
}

.linkContainer{
  border: 1px groove rgba(255, 255, 255, 0.15);    background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.18);}

