@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.root{background-color: #DBC895;}


@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --loading {
  font-family: Rocher;
  base-palette: 3;
}
@font-palette-values --price {
  font-family: Rocher;
  base-palette: 1 ;
}
@font-palette-values --text {
  font-family: Rocher;
  base-palette: 3;
}

@font-palette-values --header {
  font-family: Rocher;
  base-palette: 10;

}
@font-palette-values --category {
  font-family: Rocher;
  base-palette:2;

}
