@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.root{background-color: #DBC895;}
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --textInput {
  font-family: Rocher;
  base-palette: 2;
}

@font-palette-values --header {
  font-family: Rocher;
  base-palette: 10;

}
* {box-sizing: border-box;}
.App{
  background-image: url('/src/assets/imgs/backgrounds/AppBg.jpg');
  background-size: cover ;
min-height: 100vh;
overflow-x: hidden;
padding: 4%;

}

.title{  font-family: Rocher;  
  text-align: center;
  font-size: clamp(1rem, 5vw, 4.6rem);
  }

.pageTitle{font-family: Rocher;
  font-palette:  --header;
  font-size: clamp(1rem, 5vw, 4rem);

}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none !important; 
  }
  .title{
    width: 100vw;
    font-size: clamp(1rem, 80vw, 2rem)
  }
}

button{background-color: white;
border:none;}