form{
    display: flex;
    flex-direction: column;
    width: 55%;
    max-height: 65%;
padding: 0 5% 5% 5%;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(8px);


overflow-y: scroll;}

form::-webkit-scrollbar{
    display: none;
  }



.form-Header{user-select: none;


}
.form-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    
    
}
.form button{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px; background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size:12px;
    font-weight: bold;
}

    .form button:hover{
        border-color: #fff;
        background: linear-gradient(45deg, #ff0d45, #ff01eb);
        animation: pulse 1s infinite;
  animation-timing-function: linear;   

    }


.form label {
    margin-top: 10px;
    color: #fff;font-size: 23px;
    text-align: center;
    user-select: none;
}


.form input {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 14px 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    background: transparent;
    color: #fff;

}

.form input:focus {
    margin-top: 0;
    outline: none;
    border-color: #fff;
   
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1);}
    100% { transform: scale(1); }
    }
